{% extends "base.html" %}

{% block content %}

<h3>Lista de Pokemons</h3>
<a href = "{% url 'pokedex:add_pokemon' %}" >Añadir Pokemon</a>

<div class="row">
    {% for pokemon in pokemons %}
    <div class="col-12 col-md-6 col-lg-3 p-1">
        <div class="card h-100" style="width: 15rem;">
            <img src="{{ pokemon.picture.url }}" class="card-img-top" alt="{{ pokemon.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ pokemon.name }}</h5>
                <p class="card-text">Tipo: {{ pokemon.type }}</p>
                <a href="{{ pokemon.id }}" class="btn btn-primary">
                    <i class="fa-solid fa-eye"></i>  Ver detalles
                </a>

                <a href="edit_pokemon/{{ pokemon.id }}" class="btn btn-primary">
                    <i class="fa-solid fa-pen-to-square"></i>  Editar

                </a>
                <a href="delete_pokemon/{{ pokemon.id }}" class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i>  Eliminar
                </a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock content %}
