{% extends "base.html" %}

{% block content %}

<p class="p-2">Pokemons</p>

<div class="row">
    {% for pokemon in pokemons %}
    <div class="col-12 col-md-6 col-lg-3 p-1">
        <div class="card h-100" style="width: 15rem;">
            <img src="{{ pokemon.picture.url }}" class="card-img-top" alt="{{ pokemon.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ pokemon.name }}</h5>
                <p class="card-text">Tipo: {{ pokemon.type }}</p>
                <a href="{{ pokemon.id }}" class="btn btn-primary">Ver más</a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock content %}
